/* Utilities
************* */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{   
--asu_txt-color: rgba(97, 8, 43, 1);
--footer-color: rgba(0, 0, 0, 1);
--btn-color: rgba(0, 97, 255, 1);
--jumbo-color: rgba(180, 208, 231, 1);
--designit_center-color: rgba(245, 245, 245, 1);
--florida-color: rgba(0, 147, 206, 1);
--lonley-color: rgba(13, 36, 129, 1);
--designit-color: rgba(162, 211, 155, 1);
--hearts-color: rgba(180, 208, 231, 1);
--bicycle-color: rgba(213, 0, 31, 1);
--topps-color: rgba(255, 28, 28, 1);
--clearchannel-color: rgba(255, 216, 48, 1);
}

body{
    height: 100vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    position: relative;
    width: 1350px;
    height: 100%;
    margin: 0 auto;
}

.container_general{
    background-color: var(--florida-color);
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}

/* HEADER -- NAVBAR
********************** */
.navbar_l{
    float: left;
    text-align: center;
    width: 56%;
}

.navbar_l>a, .barr_right>a{
    margin: 1rem;
    text-decoration: none;
    color: black;
    vertical-align: sub;
}

.barr_right a:first-child{
    margin-left: 32%;
}

.barr_right a:last-child{
    padding: 4px 17px;
    color: white;
    background-color: var(--btn-color);
}


.barr_left{
    float: left;
    width: 48%;
    background-color: white;
    margin: 1rem;

}

.barr_left>img{
    float: left;
}

.barr_right{
    float: left;
    width: 49%;
    background-color: white;
    margin: 1rem 0 0 0;

}


/* JUMBO Image 
****************** */
.jumbo{
    background-color: var(--jumbo-color);
    width: 100%;
    height: 600px;
}


.row_right{
    position: absolute;
    width: 50%;
    top: 46%;
    left: 41%;
}

.title_text{
    float: left;
    width: 95%;
    height: 240px;
    font-size: 52px;
    margin: 2rem 0 0 2.5rem;
}

.p_text{
    float: left;
    width: 35%;
    font-size: 19px;
    margin: 0rem 0 0 3rem;
}

.btn_start{
    float: left;
    width: 100%;
}

.delete{
    float: left;
    width: 100%;
}

.freccia{
    margin-top: 2rem;
    float: left;
    font-size: 50px;
    transform: rotate(90deg);
}

.btn_start>a{
    float: left;
    margin: 2rem 0 0 0rem;
    background-color: var(--btn-color);
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 4px 17px;
}

.plan, .partner, .drop_business{
    margin: 50px 0 50PX 0;
}



.col_33{
    float: left;
    width: 32.26%;
    height: 50%;
    background-color: chartreuse;
}

.standard, .middle{
    margin: 0 1rem 0;
}

.enterprise{
    float: left;
    width: 100%;
    height: 39%;
    margin: 1.5rem 0 0;
    background-color: black;
}

.talking_img{
    background-color: palevioletred;
    float: left;
    width: 60%;
    height: 100%;
}

.text_img{
    background-color: rgb(168, 0, 56);
    float: left;
    width: 40%;
    height: 100%;
}


.box_team{
    background-color: var(--jumbo-color);
    width: 100%;
    height: 600px;
}


.primo_blocco, .terzo_blocco{
    float: left;
    width: 25%;
    height: 60%;
    background-color: darkgreen;
}

.secondo_blocco{
    float: left;
    width: 50%;
    height: 60%;
    background-color: rgb(104, 109, 104);
}

.try_text{
    float: left;
    width: 60%;
    height: 40%;    
    background-color: dodgerblue;
    text-align: center;
}

.try_btn{
    float: left;
    width: 40%;
    height: 40%;  
    background-color: dodgerblue;
    text-align: center;
}